*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #404a65;
  font-size: 1.125rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 2.5rem 1rem;
}

.game-header {
  text-align: center;
}

.game-title {
  font-size: 4rem;
  color: #ecedf0;
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
  line-height: 1.2;
}

.game-desc {
  font-size: 1.5rem;
  color: #ecedf0;
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-block-start: 3.75rem;
}

.result {
  text-align: center;
  color: #ecedf0;
  font-size: 1.5rem;
  margin-block-start: 2.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-block-start: 3.75rem;
}

.btn-flip-coin {
  background-color: #1f6fb0;
  color: #ecedf0;
  border: none;
  box-shadow: 0px 4px 0px 0px #23649b;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .btn-flip-coin:hover {
    cursor: pointer;
  }
}
